%h1 Stripe to FreeAgent

- if user_signed_in?
	%p Hello #{current_user.email}
	= link_to "Login with FreeAgent", "/auth/freeagent", class: "btn btn-success"
	= link_to "Setup Stripe", setup_stripe_path, method: :patch, class: "btn btn-success"

	%hr

	%b Your FreeAgent Account
	%p= current_user.freeagent_account.email
	%p Main Account: #{current_user.freeagent_account.main}
	%p Stripe Account: #{current_user.freeagent_account.stripe}
	%p= link_to "Edit", edit_freeagent_account_path(current_user.freeagent_account)

	%hr

	%b Your Stripe Account
	%p= current_user.stripe_account.stripe_user_id

- else
	= link_to "Login", new_user_session_path
	= link_to "Register", new_user_registration_path